@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url(./about.css);
:root{
    --primary-color: #123524;
    --secondary-color: #85A947;
    --tertiary-color: #EFE3C2;

    --text-color: #85A947;

    --hover-color-btn-nav: #007bff;
    --hover-color-btn-link: #3E7B27;

    --font-primary: "Krona One", sans-serif;
    --font-secondary: "Montserrat", sans-serif;
}
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

p {
    color: var(--text-color);
}

a {
    text-decoration: none;
}

strong {
    color: var(--tertiary-color);
}

.cabecalho{
    display: flex;
    padding: 2% 0 0 0;
    align-items: center;
    width: 75%;
    gap: 80px;
    margin: 0 auto;
}
.cabecalho__nagecao__link{
    font-family: var(--font-secondary);
    font-size: 1.125rem;
    color: var(--tertiary-color);
    margin: 0 10px 0 0px;
    text-decoration: none;
}
.cabecalho__nagecao__link:hover {
    color: var(--hover-color-button);
}

.conteudo_principal {
    display: flex;
    width: 75%;
    height: 100%;
    gap: 30px;
    align-items: center;
    margin: 5% auto;
    justify-items: center;
}

.conteudo_principal__sobre_mim {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.conteudo_principal__sobre_mim__titulo-principal {
    font-family: var(--font-primary);
    font-size: 2.25rem;
}
.conteudo_principal__sobre_mim__titulo-principal.color__outras-paginas{
    color: var(--tertiary-color);
}
.conteudo_principal__sobre_mim__texto-descricao.subtitulo{
    color: var(--tertiary-color);
}

.conteudo_principal__sobre_mim__texto-descricao {
    font-size: 1.25rem;
}

.conteudo_principal__sobre_mim__redes-sociais {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.conteudo_principal__sobre_mim__redes-sociais__subtitulo{
    font-family: var(--font-primary);
    color: var(--tertiary-color);
    font-weight: 400;
    font-size: 1.5rem;
}
.conteudo_principal__sobre_mim__redes-sociais--linkedin,
.conteudo_principal__sobre_mim__redes-sociais--github {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: var(--secondary-color);
    border: 2px solid var(--tertiary-color);
    text-decoration: none;
    font-weight: 600;
    padding: 10px;
    border-radius: 4px;
    width: 70%;
    text-align: center;
}
.conteudo_principal__sobre_mim__redes-sociais--linkedin:hover,
.conteudo_principal__sobre_mim__redes-sociais--github:hover{
    background-color: var(--hover-color-btn-link);
    color: var(--tertiary-color);
    transform: scale(1.1);
    cursor: pointer;
}

.conteudo_principal__imagem_container {
    width: 35%;
    position: relative;
    margin: 0 auto;
}
.conteudo_principal__imagem {
    max-width: 100%;
    border-radius: 10px;
}
.conteudo_principal__imagem_container::after{
    content: "";
    position: absolute;
    top: 8px;
    left: 8px;
    width: 100%;
    height: 100%;
    border: 2px solid var(--tertiary-color);
    border-radius: 10px;
    z-index: -1;
}

.rodape__texto{
    font-family: var(--font-secondary);
    color: var(--primary-color);
    background-color: var(--tertiary-color);
    padding: 24px;
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
}

@media (max-width: 1200px){
    .cabecalho{
        padding: 6%;
        justify-content: center;
        width:75%;
    }
    .conteudo_principal{
        flex-direction: column-reverse;
        width: 50%;
    }
    .conteudo_principal__sobre_mim{
        width: 100%;
    }
    .conteudo_principal__imagem_container{
        width: 50%;
    }
}